@import '@styles/main';

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.contactsInformation {
  width: 100%;

  .inputContainer {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
    
    & > input {
      width: 100%;
      border: 1px solid $color-silver;
      @include fontSizes(16px, 22px);
      padding: 4px 32px 4px 8px;

      ::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder {
        color: $color-tundora;
      }
    }

    & > svg {
      position: absolute;
      top: 6px;
      right: 8px;
    }
  }
    
  @media (min-width: $tablet) {
    max-width: 337px;
  }

  @media (min-width: $desktop) {
    max-width: 414px;
  }
}

.contactsOuterContainer {
  @media (min-width: $tablet) {
    height: 50vh;
    overflow: scroll;
    padding-right: 16px;
  }
}

.mapWrapper:hover {
  cursor: pointer;
  opacity: 0.7;
}
