@import '@styles/main';

.titleContainer {
  height: 40px;

  h4 {
    position: relative;
    text-align: center;
    top: 96px;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet) {
    height: 80px;

    h4 {
      top: 192px;
    }
  }
}
