$color-white: #FFF;
$color-black: #000;

$color-alpine: #B4802D;
$color-serria: #D5A558;
$color-di-serria: #DBAE61;
$color-hokey-pokey: #CC9933;

$color-palm-leaf: #1F3C11;
$color-mallard: #334E1F;
$color-woodland: #3D5D25;
$color-verdun-green: #336600;

$color-light-out: #0D0D0D;
$color-cod-gray: #1A1A1A;
$color-mine-shaft: #262626;
$color-charcoal: #333333;
$color-gray25: #404040;
$color-tundora: #4D4D4D;
$color-scorpion: #565656;
$color-gray45: #737373;
$color-silver: #CCCCCC;
$color-gray85: #D9D9D9;
$color-gray88: #E0E0E0;
$color-gray90: #EEEEEE;
$color-gray95: #F2F2F2;
$color-gray98: #FAFAFA;

$color-link-blue: #45A7EE;
